body nav {
  background-color: #2c3e50;
  height: 104px;
}
body nav div .navbar-brand {
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  font-family: "Montserrat", sans-serif;
}
body nav div .navbar-brand:hover {
  color: white;
}
body nav div #navbarNav {
  flex-direction: row-reverse;
  display: flex;
}
body nav div #navbarNav ul li a {
  text-transform: uppercase;
  color: white;
  width: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
}
body #header-avatar {
  width: 1450px;
  height: 830px;
  background-color: #1ABC9C;
}
body #header-avatar .header-avatar-image img {
  width: 100%;
}
body #header-avatar .row {
  height: 100px;
}
body #header-avatar .row .col-md-12 h1 {
  text-transform: uppercase;
  color: white;
  font-size: 64px;
  line-height: 56px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 50px;
}
body #header-avatar div .image-etoile img {
  text-align: center;
  width: 50%;
}
body #header-avatar div .image-trait {
  height: 10px;
  border-bottom: 4px solid white;
}
body #header-avatar div p {
  width: 400;
  font-size: 24px;
  color: white;
  font-family: "lato", sans-serif;
  line-height: 36px;
  text-align: center;
}
body main div section h2 {
  width: 700;
  font-size: 48px;
  color: #2c3e50;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  padding-top: 150px;
  text-align: center;
}
body main div section div .image-etoile-bleu img {
  text-align: center;
  width: 700px;
}
body main div section div .image-trait-bleu {
  height: 10px;
  border-bottom: 4px solid #2c3e50;
  margin: 30px;
}
body main div #section-images {
  padding-top: 30px;
}
body main div #section-images div img {
  width: 200px;
}
body #about {
  width: 1450px;
  height: 580px;
  background-color: #1ABC9C;
  margin-top: 100px;
}
body #about .row h2 {
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  text-align: center;
  line-height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin-top: 100px;
}
body #about div {
  margin-top: 20px;
}
body #about div .image-etoile img {
  text-align: center;
  width: 50%;
}
body #about div .image-trait {
  height: 10px;
  border-bottom: 4px solid white;
}
body #about .row div p {
  color: white;
  font-size: 17px;
  line-height: 30px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
body #about #about-bouton button {
  background-color: #1ABC9C;
  border-radius: 8px;
  border: solid 2px white;
  padding: 1%;
  width: 230px;
}
body #about #about-bouton button img {
  width: 20px;
  height: 20px;
}
body #about #about-bouton button a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
body section div section h2 {
  width: 700;
  font-size: 48px;
  color: #2C3E50;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  padding-top: 150px;
  text-align: center;
  font-weight: 700;
}
body section div section div .image-etoile-bleu img {
  text-align: center;
  width: 700px;
}
body section div section div .image-trait-bleu {
  height: 10px;
  border-bottom: 4px solid #2c3e50;
  margin: 30px;
}
body section .form {
  width: 746px;
  height: 554px;
}
body section .form .form-full-name {
  width: 746px;
  height: 88px;
}
body section .form .form-full-name .col-md-12 p {
  color: #6C757D;
  width: 400;
  font-size: 24px;
  line-height: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
body section .form .form-full-name .col-md-12 #name {
  margin-left: 300px;
  border: none;
  width: 746px;
}
body section .form .form-full-name .col-md-12 .form-full-name-input-border {
  border: 1px solid #CED4DA;
  margin-left: 300px;
}
body section .form .form-email {
  width: 746px;
  height: 88px;
  margin-top: 30px;
}
body section .form .form-email .col-md-12 p {
  color: #6C757D;
  width: 400;
  font-size: 24px;
  line-height: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-left: 40px;
  padding-top: 15px;
}
body section .form .form-email .col-md-12 #email {
  margin-left: 300px;
  border: none;
  width: 746px;
}
body section .form .form-email .col-md-12 .form-email-input-border {
  border: 1px solid #CED4DA;
  margin-left: 300px;
}
body section .form .form-tel {
  width: 746px;
  height: 88px;
  margin-top: 30px;
}
body section .form .form-tel .col-md-12 p {
  color: #6C757D;
  width: 400;
  font-size: 24px;
  line-height: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-left: 40px;
}
body section .form .form-tel .col-md-12 #tel {
  margin-left: 300px;
  border: none;
  width: 746px;
}
body section .form .form-tel .col-md-12 .form-tel-input-border {
  border: 1px solid #CED4DA;
  margin-left: 300px;
}
body section .form .form-message {
  width: 746px;
  height: 160px;
  margin-top: 30px;
}
body section .form .form-message .col-md-12 p {
  color: #6C757D;
  width: 400;
  font-size: 24px;
  line-height: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
body section .form .form-message .col-md-12 #text {
  margin-left: 300px;
  border: none;
  width: 700px;
  height: 160px;
}
body section .form .form-message .col-md-12 .form-message-input-border {
  border: 1px solid #CED4DA;
  margin-left: 300px;
}
body section .form #form-bouton .btn {
  background-color: rgba(26, 188, 156, 0.6745098039);
  border-radius: 8px;
  border: solid 2px #1ABC9C;
  padding: 1%;
  width: 103px;
  height: 66px;
  margin-top: 100px;
}
body section .form #form-bouton .btn a {
  color: white;
  width: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
body footer {
  height: 272px;
  background-color: #2C3E50;
  margin-top: 250px;
}
body footer .row {
  height: 100%;
}
body footer .row div h3 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  flex-direction: column;
}
body footer .row div p {
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: "lato", sans-serif;
  line-height: 30px;
  font-weight: 300;
}
body footer .row div p strong {
  color: #1ABC9C;
  text-decoration: underline;
}
body footer .row div div img {
  width: 73px;
  height: 53px;
  margin-top: 30px;
}
body .fin {
  background-color: #1A252F;
  width: 1450px;
  height: 72px;
}
body .fin p {
  color: white;
  text-align: center;
  padding: 25px;
  font-size: 14px;
  line-height: 21px;
  font-family: "lato", sans-serif;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */